service hciattach /system/bin/sh /system/etc/bluetooth/init.bcm.bt.sh
    user bluetooth
    group bluetooth net_bt_admin system
    disabled
    
service chip_power_on /system/bin/sh /system/etc/bluetooth/init.bcm.chip_on.sh
    user root
    group system
    disabled
    oneshot 
    
service chip_power_off /system/bin/sh /system/etc/bluetooth/init.bcm.chip_off.sh
    user root
    group system
    disabled
    oneshot
    
service hci_dev_up /system/bin/hci_dev_state --dev_up
    user root
    group bluetooth system
    disabled 
    oneshot
    
service hci_dev_down /system/bin/hci_dev_state --dev_down
    user root
    group bluetooth system
    disabled 
    oneshot    

service BtWiRfServer /system/xbin/RfTest
    user root
    group bluetooth net_bt_admin system  
    disabled
    oneshot
  
service dhcpcd_brcm-pan /system/bin/dhcpcd -ABKL
	class huawei_late_start
	disabled
	oneshot
service iprenew_brcm-pan /system/bin/dhcpcd -n
	class huawei_late_start
	disabled
	oneshot

service btld /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000 -snr 7 -hp /dev/ttyHS0
    user root
    group bluetooth net_bt_admin system
    disabled
    oneshot

# start btld if soft_onoff is enabled
on property:service.brcm.bt.soft_onoff=1
    start btld

# stop btld if soft_onoff is disabled
on property:service.brcm.bt.soft_onoff=0
    stop btld

service kill_btld /system/bin/kill-btld.sh
    user root
    group system
    disabled
    oneshot
   
service kill_hcid /system/bin/kill-bluetoothd.sh
    user root
    group system
    disabled
    oneshot

#STOPSHIP: Remove logwrapper and -d option before production
service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -d -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

